---
import '../styles/global.css';
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.ico' />
		<meta name='generator' content={Astro.generator} />
		<title>Florian - nairol203</title>
		<meta name='description' content='My projects and more' />
		<meta property='og:title' content='nairol.me' />
		<meta property='og:description' content='My projects and more' />
		<meta property='og:site_name' content='nairol.me' />
		<meta property='og:type' content='website' />
		<meta property='og:image' content='https://nairol.me/logo.png' />
	</head>
	<body>
		<slot />
	</body>
</html>
